<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Text analysis</title>
</head>
<body>
    <div class="container">
        <h1>Enter Your Text</h1>
        <form action="/sentiment_analysis" method="POST">
            <input type="text" name="user_text" placeholder="Type something..." required>
            <br>
            <input type="submit" value="Submit">
        </form>

        {% if result %}
            <div class="message">{{ result }}</div>
        {% endif %}
    </div>
</body>
</html>