<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/styles.css') }}">
    <title>Text analysis</title>
</head>
<body>
    
    <div class="container">
        <h1 class="title">Sentiment analysis</h1>
        <form action="/analysis_result" method="POST">
            <input type="text" name="language" value="{{ language }}" placeholder="{{ language }}">
            <input type="text" name="user_text" placeholder="{{ user_input }}" required>
            <br>
            <input class="button_stl" type="submit" value="Analyze">
        </form>

        {% if result %}
            <div class="message">{{ result }}</div>
        {% endif %}
    </div>
</body>
</html>